
       <style type="text/css">
       .tableres {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .tableres caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  .tableres tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  .tableres th,
  .tableres td {
    padding: .625em;
    text-align: center;
  }
  
  .tableres th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    .tableres {
      border: 0;
    }
  
    .tableres caption {
      font-size: 1.3em;
    }
    
    .tableres thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .tableres tr {
      display: block;
      margin-bottom: .625em;
    }
    
    .tableres td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .tableres td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .tableres td:last-child {
      border-bottom: 0;
    }
  }
     </style>
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
           <li><div class="alert {{alert}}">
              <strong>{{success}}</strong> {{message}}
            </div>
          </li>
          </ol>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <button type="button" class="btn btn-default {{sideTableData.displaynone}}" data-toggle="modal" id="batch" data-target="#BatchModal">Add New Batch</button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered tableres" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">ID</th>
                      <th scope="col">Center</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">No Of Class</th>
                      <th scope="col">Actual Class Limit</th>
                      <th scope="col">Batch Day</th>
                      <th scope="col">Batch Schedule</th>
                      <th scope="col">Teacher</th>
                      <th scope="col">Date</th>
                      <th scope="col">Edit/Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each data}}
                    <tr> 
                      <td data-label="Name">{{Name}}</td>
                      <td data-label="ID">{{ID}}</td>
                      <td data-label="Center">{{Center}}</td>
                      <td data-label="Start Date">{{StartDate}}</td>
                      <td data-label="No Of Class">{{NumberOfClass}}</td>
                      <td data-label="Actual Class Limit">{{actualClassLimit}}</td>
                      <td data-label="Batch Day">{{BatchDay}}</td>
                      <td data-label="Batch Schedule">{{BatchSchedule}}</td>
                      <td data-label="Teacher">{{Teacher}}</td>
                      <td data-label="Date">{{Date}}</td>
                      <td data-label="Edit/Delete" style="display: flex; justify-content: space-between;">
                        <button type="button" id="updateBatch" title="{{_id}}" class="btn btn-default updateBatch" data-toggle="modal" data-target="#StudentModalUpdate">Edit</button> 
                        <button type="button" id="DeleteBatch" title="{{Name}}" value="{{_id}}" class="btn btn-default DeleteBatch" data-toggle="modal" data-target="#deleteBatchmodal">Delete</button>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">UCMAS STUDENT TRACKER</div>
          </div>

          <p class="small text-center text-muted my-5">
            <em>More table coming soon...</em>
          </p>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /.content-wrapper -->

    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


<!-- Logout Modal-->
    <div class="modal fade" id="BatchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Create a New Batch</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Batch Managament</h4>
                    <form action="/batch/management" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName">Name</label>
                                <input type="text" class="form-control" name="Name" id="inputEmail4" placeholder="Name" required="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputID">ID</label>
                                <input type="text" class="form-control" name="ID" id="inputPassword4" placeholder="ID" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputcenter">Which State?</label>
                                <select id="batchstate" onchange="choice3(this)" name="StateName" class="form-control" required>
                                  <option value="" disabled selected>Which State*</option>
                                  <!-- <option value="{{centerName}}">{{centerName}}</option> -->
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputcenter">Which Area?</label>
                                <select id="batcharea" onchange="choice4(this)" name="AreaName" class="form-control" required>
                                  <option value="" disabled selected>Which Area*</option>
                                  <!-- <option value="{{centerName}}">{{centerName}}</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputcenter">Center</label>
                                <select id="updateoption" name="Center" class="form-control" required>
                                  <option value="" disabled selected>Select Center*</option>
                                  <!-- <option value="{{centerName}}">{{centerName}}</option> -->
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputstartdate">Start Date</label>
                                <input type="date" class="form-control" name="StartDate" id="inputPassword4" placeholder="Start Data" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputNoOfClasses">Actual Class of Limit</label>
                                <input type="number" class="form-control" name="actualClassLimit" id="inputNoOfClasses" placeholder="No Of Classes" required="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputBatchDay">Batch Day</label>
                                <select name="BatchDay" class="form-control" required>
                                  <option value="" disabled selected>Select Day*</option>
                                  <option value="Sunday">Sunday</option>
                                  <option value="Monday">Monday</option>
                                  <option value="Tuesday">Tuesday</option>
                                  <option value="Wednesday">Wednesday</option>
                                  <option value="Thursday">Thursday</option>
                                  <option value="Friday">Friday</option>
                                  <option value="Saturday">Saturday</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputBatchSchedule">Batch Schedule</label>
                                <input type="time" class="form-control" name="BatchSchedule" id="inputEmail4" placeholder="Batch Schedule" required="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputTeacher">Teacher</label>
                                <select name="Teacher" id="updateoptionteach" class="form-control" required>
                                  <option value="" disabled selected>Select Teacher</option>
                                  <!-- {{#each teacherAu}} -->
                                  <!-- <option value="{{username}}">{{firstName}} {{lastName}}</option> -->
                                  <!-- {{/each}} -->
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>     
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>


<!-- UPDATE STUDENT DATA MODAL-->
    <div class="modal fade" id="StudentModalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Update Batch</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Batch Managament</h4>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName4">Name</label>
                                <input type="text" class="form-control" name="Name" id="inputName4" placeholder="Name" required="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputID4">ID</label>
                                <input type="text" class="form-control" name="ID" id="inputID4" placeholder="ID" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState4">Which State?</label>
                                <select id="inputState4" name="StateName" class="form-control" required>
                                  <option value="" disabled selected>Which State*</option>
                                  <!-- <option value="{{centerName}}">{{centerName}}</option> -->
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputArea4">Which Area?</label>
                                <select id="inputArea4" name="AreaName" class="form-control" required>
                                  <option value="" disabled selected>Which Area*</option>
                                  <!-- <option value="{{centerName}}">{{centerName}}</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCenter4">Center</label>
                                <select id="inputCenter4" name="Center" class="form-control" required>
                                  <option value="" disabled selected>Select Center*</option>
                                  <!-- <option value="{{centerName}}">{{centerName}}</option> -->
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputstartdate4">Start Date</label>
                                <input type="date" class="form-control" name="StartDate" id="inputstartdate4" placeholder="Start Data" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputactualClassLimit4">Actual Class of Limit</label>
                                <input type="number" class="form-control" name="inputactualClassLimit4" id="inputactualClassLimit4" placeholder="No Of Classes" required="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputBatchDay4">Batch Day</label>
                                <select id="inputBatchDay4" name="BatchDay" class="form-control" required>
                                  <option value="" disabled selected>Select Day*</option>
                                  <option value="Sunday">Sunday</option>
                                  <option value="Monday">Monday</option>
                                  <option value="Tuesday">Tuesday</option>
                                  <option value="Wednesday">Wednesday</option>
                                  <option value="Thursday">Thursday</option>
                                  <option value="Friday">Friday</option>
                                  <option value="Saturday">Saturday</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputBatchSchedule4">Batch Schedule</label>
                                <input type="time" class="form-control" name="BatchSchedule" id="inputBatchSchedule4" placeholder="Batch Schedule" required="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputTeacher4">Teacher</label>
                                <select name="Teacher" id="inputTeacher4" class="form-control" required>
                                  <option value="" disabled selected>Select Teacher</option>
                                  <!-- {{#each teacherAu}} -->
                                  <!-- <option value="{{username}}">{{firstName}} {{lastName}}</option> -->
                                  <!-- {{/each}} -->
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <button type="submit" id="buttonupdateBatch" class="btn btn-primary">Update</button>
                        </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Batch Modal DELETE Modal-->
    <div class="modal fade" id="deleteBatchmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
                <div class="outer-w3-agile mt-3">
                    <h6 class="tittle-w3-agileits mb-4"><strong class="BatchName"></strong> Will be permanently deleted. Are you sure you want to do this?</h6>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">CENCEL</button>
                      <button class="btn btn-primary DeleteBatchButton" id="DeleteBatchButton" type="submit">DELETE</button>
                    </div>
                </div>
            <!--// Forms content -->
            </div>
          </div>
        </div>
      </div>
    </div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


  

