
     </style>
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
            <li><div class="alert {{alert}}">
              <strong>{{success}}</strong> {{message}}
            </div>
          </li>
          </ol>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#BetchModal">Add Center</button></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Center</th>
                      <th>Area</th>
                      <th>State</th>
                      <th>Contact Person</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>Create Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Center</th>
                      <th>Area</th>
                      <th>State</th>
                      <th>Contact Person</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>Create Date</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {{#each center}}
                    <tr>
                      <td>{{centerName}}</td>
                      <td>{{AreaName}}</td>
                      <td>{{stateName}}</td>
                      <td>{{ContactPerson}}</td>
                      <td>{{Email}}</td>
                      <td>{{Mobile}}</td>
                      <td>{{Date}}</td>
                      <td style="display: flex;">
                        <form action="" method="GET"><button>Edit</button></form> 
                        <form method="GET" action="/student/management/deleted/{{_id}}"><button>Delete</button></form>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">UCMAS STUDENT TRACKER</div>
          </div>

          <p class="small text-center text-muted my-5">
            <em>More table coming soon...</em>
          </p>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /.content-wrapper -->

    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


<!-- Logout Modal-->
    <div class="modal fade" id="BetchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Create a New Center</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Center Managament</h4>
                    <form action="/add/center" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Center Name</label>
                                <input type="text" class="form-control" id="inputEmail4" name="centerName" placeholder="Center Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Area</label>
                                <select name="AreaName" class="form-control">
                                  <option value="" disabled selected>Select Area*</option>
                                  {{#each area}}
                                  <option value="{{AreaName}}">{{AreaName}}</option>
                                  {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                                <label for="inputEmail4">State</label>
                                <select name="AreaName" class="form-control">
                                  <option value="" disabled selected>Select State Name</option>
                                  {{#each state}}
                                  <option value="{{stateName}}">{{stateName}}</option>
                                  {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputContactPerson">Contact Person</label>
                                <input type="text" class="form-control" id="inputContactPerson" name="ContactPerson" placeholder="Contact Person">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputemail">Email</label>
                                <input type="email" class="form-control" id="inputemail" name="Email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputMobile">Mobile</label>
                                <input type="number" class="form-control" id="inputMobile" name="Mobile" placeholder="Mobile">
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <button class="btn btn-primary" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            <!--// Forms content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  

