
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
            <li><div class="alert {{alert}}">
              <strong>{{success}}</strong> {{message}}
            </div>
          </li>
          </ol>

          <!-- DataTables Example -->
          <div class="form-row">

                <div class="form-group col-md-2">
                  <input type="date" id="DatePincker" class="form-control" name="date">
                </div>
              <div class="form-group col-md-2">
                <select name="Center" id="centerreport" class="form-control">
                  <option value="" disabled selected>Select Center</option>
                  {{#each data}}
                  <option value="{{centerName}}" id="{{_id}}" >{{centerName}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group col-md-2">
                <button id="findresultcenterhead" class="btn btn-default" type="button">Generate Report</button>
              </div>
            </div>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <h4>Batches Schduled</h4>

              <div class="card-body">
              <div class="table-responsive" style="height: 300px;">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Batch Name</th>
                      <th>Time</th>
                      <th>Teacher</th>
                      <th>Class Count</th>
                      <th>Class Max Limit</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Batch Name</th>
                      <th>Time</th>
                      <th>Teacher</th>
                      <th>Class Count</th>
                      <th>Class Max Limit</th>
                    </tr>
                  </tfoot>
                  <tbody id="BatchSchduled">

                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">UUCMAS STUDENT TRACKER</div>
          </div>
        </div>
         <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <h4>Classes Took Place</h4>
              <div class="card-body">
              <div class="table-responsive" style="height: 300px;">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Batch Name</th>
                      <th>Time</th>
                      <th>Teacher</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Batch Name</th>
                      <th>Time</th>
                      <th>Teacher</th>
                    </tr>
                  </tfoot>
                  <tbody id="persentBatch">

                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">UUCMAS STUDENT TRACKER</div>
          </div>
        </div>
         <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <h4>Students Present</h4> 
              <div class="card-body">
              <div class="table-responsive" style="height: 300px;">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Student ID</th>
                      <th>Student Name</th>
                      <th>Batch</th>
                      <th>Center</th>
                      <th>Check-in Time</th>
                      <th>Check-in By</th>
                      <th>Check-out Time</th>
                      <th>Check-out By</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Student ID</th>
                      <th>Student Name</th>
                      <th>Batch</th>
                      <th>Center</th>
                      <th>Check-in Time</th>
                      <th>Check-in By</th>
                      <th>Check-out Time</th>
                      <th>Check-out By</th>
                    </tr>
                  </tfoot>
                  <tbody id="persentStudent">

                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">UUCMAS STUDENT TRACKER</div>
          </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <h4>Students Absent</h4> 
              <div class="card-body">
              <div class="table-responsive" style="height: 300px;">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Student ID</th>
                      <th>Name</th>
                      <th>Batch</th>
                      <th>Center</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Student ID</th>
                      <th>Name</th>
                      <th>Batch</th>
                      <th>Center</th>
                    </tr>
                  </tfoot>
                  <tbody id="AbsentStudent">

                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">UUCMAS STUDENT TRACKER</div>
          </div>
        </div>
      </div>
    </div>
  

<script type="text/javascript">

  $(document).ready(function(){
  $('#findresultcenterhead').click(function (event) {
    event.preventDefault();


    var dateFormat = $('#DatePincker').val();
    var selectedCenter = $("#centerreport option:selected").val();


    if (dateFormat === "") {
      alert("Please Select A Date");
      return false;
    }
    if (selectedCenter === "") {
      alert("Please Select A Center");
      return false;
    }
    alert(selectedCenter)

    async function firstRequest() { // Using async function it will wiat till the promise resolves
      let promise = new Promise((resolve, reject) => {
        setTimeout(() => resolve(), 1000)
      });
      let result = await promise; // wait till the promise resolves (*)
      $.ajax({
        type: 'GET',
        url: "/getting/all/batch/Center-head/"+dateFormat+"/"+selectedCenter,
        dataType: 'json',
        success: function(data){
          if (data.length === 0) {
            $('#BatchSchduled').empty();
            var HTML = '';
            HTML = '<tr><td colspan="5 style="text-align: center;"><h2 style="color: red; text-align: center; font-size: 18px;">Data is not Available on this date!</h2></td></tr>'
            $('#BatchSchduled').append(HTML);
          }else{
            $('#BatchSchduled').empty();
            var HTML = '';
            for (var i = 0; i < data.length; i += 1) {
              HTML = '<tr><td>'+data[i].Name+'</td><td>'+data[i].BatchSchedule+'</td><td>'+data[i].Teacher+'</td><td>'+data[i].NumberOfClass+'</td><td>'+data[i].actualClassLimit+'</td></tr>'
              $('#BatchSchduled').append(HTML);


              // Second Request
              $.ajax({
                type: 'GET',
                url: "/persent/Batch/center-head/"+dateFormat+"/"+selectedCenter,
                dataType: 'json',
                success: function(data){
                  if (data.length === 0) {
                    $('#persentBatch').empty();
                    var HTML = '';
                    HTML = '<tr><td colspan="3 style="text-align: center;"><h2 style="color: red; text-align: center; font-size: 18px;">Data is not Available on this date!</h2></td></tr>'
                    $('#persentBatch').append(HTML);
                  }else{
                    $('#persentBatch').empty();
                    var HTML = '';
                    for (var i = 0; i < data.length; i += 1) {
                      HTML = '<tr><td>'+data[i].BatchName+'</td><td>'+data[i].BatchTime+'</td><td>'+data[i].ClassAddbyTeacherName+'</td></tr>'
                      $('#persentBatch').append(HTML);
                    }
                  }
                }
              });
            }
          }
        }
      }); // "done!"
    }
    async function SecondRequest() {
      let promise = new Promise((resolve, reject) => {
        setTimeout(() => resolve(), 2000)
      });
      let result = await promise; // wait till the promise resolves (*)
      // Third Request
      $.ajax({
        type: 'GET',
        url: "/getting/all/persent-student/center-head/"+dateFormat+"/"+selectedCenter,
        dataType: 'json',
        success: function(data){
          console.log(data)
          if (data.length === 0) {
            $('#persentStudent').empty();
            var HTML = '';
            HTML = '<tr><td colspan="8 style="text-align: center;"><h2 style="color: red; text-align: center; font-size: 18px;">Data is not Available on this date!</h2></td></tr>'
            $('#persentStudent').append(HTML);
          }else{
            $('#persentStudent').empty();
            var HTML = '';
            for (var i = 0; i < data.length; i += 1) {
              HTML = '<tr><td>'+data[i].uuid+'</td><td>'+data[i].StudentName+'</td><td>'+data[i].Batch+'</td><td>'+data[i].Center+'</td><td>'+data[i].CheckInTime+'</td><td>'+data[i].SigninBy+'</td><td>'+data[i].CheckOutTime+'</td><td>'+data[i].SignoutBy+'</td></tr>'
              $('#persentStudent').append(HTML);

              // forth Request
              $.ajax({
                type: 'GET',
                url: "/getting/all/absent-student/center-head/"+dateFormat+"/"+selectedCenter,
                dataType: 'json',
                success: function(data){
                  console.log(data)
                  if (data.length === 0) {
                    $('#AbsentStudent').empty();
                    var HTML = '';
                    HTML = '<tr><td colspan="4 style="text-align: center;"><h2 style="color: red; text-align: center; font-size: 18px;">Data is not Available on this date!</h2></td></tr>'
                    $('#AbsentStudent').append(HTML);
                  }else{
                    $('#AbsentStudent').empty();
                    var HTML = '';
                    for (var i = 0; i < data.length; i += 1) {
                      HTML = '<tr><td>'+data[i].uuid+'</td><td>'+data[i].StudentName+'</td><td>'+data[i].Batch+'</td><td>'+data[i].Center+'</td></tr>'
                      $('#AbsentStudent').append(HTML);
                    }
                  }
                }
              });
            }
          }
        }
      }); // "done!"
    }
    firstRequest();
    SecondRequest();
  });
});
  
</script>