


  <style type="text/css">
       .tableres {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .tableres caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  .tableres tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  .tableres th,
  .tableres td {
    padding: .625em;
    text-align: center;
  }
  
  .tableres th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    .tableres {
      border: 0;
    }
  
    .tableres caption {
      font-size: 1.3em;
    }
    
    .tableres thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .tableres tr {
      display: block;
      margin-bottom: .625em;
    }
    
    .tableres td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .tableres td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .tableres td:last-child {
      border-bottom: 0;
    }
  }
     </style>
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
            <li><div class="alert {{alert}}">
              <strong>{{success}}</strong> {{message}}
            </div>
          </li>
          </ol>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#BetchModal">Add Admin/Teacher</button></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered tableres" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Moderator</th>
                      <th scope="col">isLogin</th>
                      <th scope="col">Created Date</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each admin}}
                    <tr>
                      <td data-label="Name">{{firstName }} {{ lastName}}</td>
                      <td data-label="moderator">{{moderator}}</td>
                      <td data-label="isLogin">{{isLogin}}</td>
                      <td data-label="Created Date">{{Date}}</td>
                      <td data-label="Action" style="display: flex; justify-content: space-between;">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More Option
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item EditAdmin" id="EditAdmin" title="{{firstName}}" value="{{_id}}"  data-toggle="modal" data-target="#DeleteAreaModal" href="#">Edit</a>
                            <a class="dropdown-item getallData" title="{{_id}}" data-toggle="modal" data-target="#ModalView" href="#">View</a>
                            <a class="dropdown-item DeleteAdmin" id="DeleteAdmin" title="{{firstName }} {{ lastName}}" value="{{_id}}" data-toggle="modal" data-target="#DeleteAdminModal" href="#">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">UCMAS STUDENT TRACKER</div>
          </div>

          <p class="small text-center text-muted my-5">
            <em>More table coming soon...</em>
          </p>

        </div>
        <!-- /.container-fluid -->

        </footer>

      </div>
      <!-- /.content-wrapper -->

    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


<!-- Logout Modal-->
    <div class="modal fade" id="BetchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Create a New moderator</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">SuperAdmin/Admin/Teacher Managament</h4>
                      <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputfirstName">First Name</label>
                                <input type="text" class="form-control" id="inputfirstName" name="firstName" placeholder="First Name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputLastName">Last Name</label>
                                <input type="text" class="form-control" id="inputLastName" name="lastName" placeholder="Last name" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">UserName must be unique</label>
                                <input type="text" class="form-control" id="inputEmail4" name="username" placeholder="Username" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password" required>
                                <input type="checkbox" onclick="myFunction()">Show Password
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">SuperAdmin/Admin/Teacher</label>
                                <select name="moderator" id="moderatorStatus" onchange="choice6(this)" class="form-control" required>
                                  <option value="" disabled selected>Select Admin/Center Head/Teacher*</option>
                                  <option value="SuperAdmin">Super Admin</option>
                                  <option value="StateAdmin">State Head</option>
                                  <option value="CenterAdmin">Center Head</option>
                                  <option value="Teacher">Teacher</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" id="ifDataAvailable">

                            </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <button class="btn btn-primary" id="submitModerator" type="submit">Create</button>
                        </div>
                </div>
            <!--// Forms content -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mod DELETE Modal-->
    <div class="modal fade" id="DeleteAdminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
                <div class="outer-w3-agile mt-3">
                    <h6 class="tittle-w3-agileits mb-4"><strong class="adminName"></strong> Will be permanently deleted. Are you sure you want to do this?</h6>
                    <div class="modal-footer">
                      <button class="btn btn-secondary cencelbutton" value="CENCEL" type="button" data-dismiss="modal">CENCEL</button>
                      <button class="btn btn-primary DeleteAdminButton" id="DeleteAdminButton" type="submit">DELETE</button>
                    </div>
                </div>
            <!--// Forms content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <script type="text/javascript">
    function myFunction() {
      var x = document.getElementById("inputPassword4");
      if (x.type === "password") {
          x.type = "text";
      } else {
          x.type = "password";
      }
  }
  </script>

<!-- <script>
    function yesnoCheck(that) {
        if (that.value == "Admin") {
            alert("check");
            document.getElementById("ifYes").style.display = "block";
        } else {
            document.getElementById("ifYes").style.display = "none";
        }
    }
</script> -->


