
  <style type="text/css">
       .tableres {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .tableres caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  .tableres tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  .tableres th,
  .tableres td {
    padding: .625em;
    text-align: center;
  }
  
  .tableres th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    .tableres {
      border: 0;
    }
  
    .tableres caption {
      font-size: 1.3em;
    }
    
    .tableres thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .tableres tr {
      display: block;
      margin-bottom: .625em;
    }
    
    .tableres td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .tableres td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .tableres td:last-child {
      border-bottom: 0;
    }
  }
     </style>
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
            <li><div class="alert {{alert}}">
              <strong>{{success}}</strong> {{message}}
            </div>
          </li>
          </ol>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <button type="button" class="btn btn-default {{sideTableData.displaynone}}" id="studentdata" data-toggle="modal" data-target="#BetchModal">Add New Student</button></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered tableres" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">ID</th>
                      <th scope="col">Date Of Birth</th>
                      <th scope="col">Enroll Date</th>
                      <th scope="col">Current Level</th>
                      <th scope="col">Center</th>
                      <th scope="col">Batch</th>
                      <th scope="col">Last Check in</th>
                      <th scope="col">Last Check in Location</th>
                      <th scope="col">Contact Name</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">Email</th>
                      <th scope="col">Contact Name1</th>
                      <th scope="col">Mobile1</th>
                      <th scope="col">Email1</th>
                      <th scope="col">Contact Name2</th>
                      <th scope="col">Mobile2</th>
                      <th scope="col">Email2</th>
                      <th scope="col">Date</th>
                      <th scope="col">Edit/Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each data}}
                    <tr>
                      <td data-label="Name">{{Name}}</td>
                      <td data-label="ID">{{ID}}</td>
                      <td data-label="Date Of Birth">{{DateOfBirth}}</td>
                      <td data-label="Enroll Date">{{EnrollDate}}</td>
                      <td data-label="Current Level">{{CurrentLevel}}</td>
                      <td data-label="Current Level">{{Center}}</td>
                      <td data-label="Center">{{Batch}}</td>
                      <td data-label="Batch">Comming Soon...</td>
                      <td data-label="Last Check in">Comming Soon...</td>
                      <td data-label="Contact Name">{{ContactName}}</td>
                      <td data-label="Mobile">{{Mobile}}</td>
                      <td data-label="Email">{{Email}}</td>
                      <td data-label="Contact Name 1">{{ContactName1}}</td>
                      <td data-label="Mobile 1">{{Mobile1}}</td>
                      <td data-label="Email 1">{{Email1}}</td>
                      <td data-label="Contact Name 2">{{ContactName2}}</td>
                      <td data-label="Mobile 2">{{Mobile2}}</td>
                      <td data-label="Email 2">{{Email2}}</td>
                      <td data-label="Date">{{Date}}</td>
                      <td data-label="Action" style="display: flex; justify-content: space-between;">
                        <button class="btn btn-default updatemodalstudent" title="{{_id}}" data-toggle="modal" data-target="#StudentDataUpdate">Edit</button>
                        <button type="button" id="DeleteStudent" title="{{Name}}" value="{{_id}}" class="btn btn-default DeleteStudent" data-toggle="modal" data-target="#deleteStuhmodal">Delete</button>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">UCMAS STUDENT TRACKER</div>
          </div>

          <p class="small text-center text-muted my-5">
            <em>More table coming soon...</em>
          </p>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /.content-wrapper -->

    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


<!-- Logout Modal-->
    <div class="modal fade" id="BetchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Create a New Student</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Student Managament</h4>
                    <form action="/student/management" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Name</label>
                                <input type="text" class="form-control" id="inputEmail4" name="Name" placeholder="Name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">ID</label>
                                <input type="text" class="form-control" id="inputPassword4" name="ID" placeholder="ID" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Date Of Birth</label>
                                <input type="date" class="form-control" id="inputEmail4" placeholder="Date Of Birth" name="DateOfBirth">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Enroll Date</label>
                                <input type="date" class="form-control" name="EnrollDate" id="inputPassword4" placeholder="Enroll Date">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Current Level</label>
                                <input type="text" class="form-control" id="inputEmail4" name="CurrentLevel" placeholder="Current Level">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Which State?</label>
                                <select id="statereport" onchange="choice1(this)" name="State" class="form-control" required>
                                  <option value="" disabled selected>Select State</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Which Area?</label>
                                <select id="areareport" onchange="choice2(this)" name="Area" class="form-control" required>
                                  <option value="" disabled selected>Select Area</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Which Center?</label>
                                <select id="centerreport" onchange="choice5(this)" name="Center" class="form-control" required>
                                  <option value="" disabled selected>Select Center</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Which Batch?</label>
                                <select id="batchreport" name="Batch" class="form-control" required>
                                  <option value="" disabled selected>Select Batch</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCity">Contect Name</label>
                                <input type="text" name="ContactName" class="form-control" id="inputCity" placeholder="Contect Name" required="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState"> Mobile </label>
                                <input type="number" class="form-control" name="Mobile" id="inputCity" placeholder="Mobile" required="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputZip">Email</label>
                                <input type="email" class="form-control" id="inputZip" name="Email" placeholder="Email" required="">
                            </div>
                        </div>
                         <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCity">Contect Name</label>
                                <input type="text" class="form-control" name="ContactName1" id="inputCity" placeholder="Contect Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Mobile</label>
                                <input type="number" class="form-control" name="Mobile1" id="inputCity" placeholder="Mobile">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputZip">Email</label>
                                <input type="email" class="form-control" id="inputZip" name="Email1" placeholder="Email">
                            </div>
                        </div>
                         <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCity">Contect Name</label>
                                <input type="text" class="form-control" id="inputCity" name="ContactName2" placeholder="Contect Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState"> Mobile </label>
                                <input type="number" class="form-control" id="inputCity" name="Mobile2" placeholder="Mobile">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputZip">Email</label>
                                <input type="email" class="form-control" id="inputZip" name="Email2" placeholder="Email">
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" id="close" type="button" data-dismiss="modal">Cancel</button>
                          <button class="btn btn-primary" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            <!--// Forms content -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- UPDATE MODAL BOX FOR STUDENT DATA -->
    <div class="modal fade" id="StudentDataUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Update Student</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Student Managament</h4>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName4">Name</label>
                                <input type="text" class="form-control" id="inputName4" name="Name" placeholder="Name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">ID</label>
                                <input type="text" class="form-control" id="inputPassword4" name="ID" placeholder="ID" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Date Of Birth</label>
                                <input type="date" class="form-control" id="inputEmail4" placeholder="Date Of Birth" name="DateOfBirth">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Enroll Date</label>
                                <input type="date" class="form-control" name="EnrollDate" id="inputPassword4" placeholder="Enroll Date">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Current Level</label>
                                <input type="text" class="form-control" id="inputEmail4" name="CurrentLevel" placeholder="Current Level">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Which State?</label>
                                <select id="statereport" onchange="choice1(this)" name="State" class="form-control" required>
                                  <option value="" disabled selected>Select State</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Which Area?</label>
                                <select id="areareport" onchange="choice2(this)" name="Area" class="form-control" required>
                                  <option value="" disabled selected>Select Area</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Which Center?</label>
                                <select id="centerreport" onchange="choice5(this)" name="Center" class="form-control" required>
                                  <option value="" disabled selected>Select Center</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Which Batch?</label>
                                <select id="batchreport" name="Batch" class="form-control" required>
                                  <option value="" disabled selected>Select Batch</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCity">Contect Name</label>
                                <input type="text" name="ContactName" class="form-control" id="inputCity" placeholder="Contect Name" required="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState"> Mobile </label>
                                <input type="number" class="form-control" name="Mobile" id="inputCity" placeholder="Mobile" required="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputZip">Email</label>
                                <input type="email" class="form-control" id="inputZip" name="Email" placeholder="Email" required="">
                            </div>
                        </div>
                         <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCity">Contect Name</label>
                                <input type="text" class="form-control" name="ContactName1" id="inputCity" placeholder="Contect Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Mobile</label>
                                <input type="number" class="form-control" name="Mobile1" id="inputCity" placeholder="Mobile">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputZip">Email</label>
                                <input type="email" class="form-control" id="inputZip" name="Email1" placeholder="Email">
                            </div>
                        </div>
                         <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCity">Contect Name</label>
                                <input type="text" class="form-control" id="inputCity" name="ContactName2" placeholder="Contect Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState"> Mobile </label>
                                <input type="number" class="form-control" id="inputCity" name="Mobile2" placeholder="Mobile">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputZip">Email</label>
                                <input type="email" class="form-control" id="inputZip" name="Email2" placeholder="Email">
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" id="close" type="button" data-dismiss="modal">Cancel</button>
                          <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                </div>
            <!--// Forms content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  

      <!-- Batch Modal DELETE Modal-->
    <div class="modal fade" id="deleteStuhmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
                <div class="outer-w3-agile mt-3">
                    <h6 class="tittle-w3-agileits mb-4"><strong class="StudentName"></strong> Will be permanently deleted. Are you sure you want to do this?</h6>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">CENCEL</button>
                      <button class="btn btn-primary DeleteStudentButton" id="DeleteStudentButton" type="submit">DELETE</button>
                    </div>
                </div>
            <!--// Forms content -->
            </div>
          </div>
        </div>
      </div>
    </div>