
     </style>
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
            <li><div class="alert {{alert}}">
              <strong>{{success}}</strong> {{message}}
            </div>
          </li>
          </ol>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#BetchModal">Select Batch</button></div>
            
            <div class="card-footer small text-muted">UCMAS STUDENT TRACKER</div>
          </div>

          <p class="small text-center text-muted my-5">
            <em>More table coming soon...</em>
          </p>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /.content-wrapper -->

    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


<!-- Logout Modal-->
    <div class="modal fade" id="BetchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Add New Class</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
              <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Timing</th>
                      <th>Select Batch</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Timing</th>
                      <th>Select Batch</th>                      
                    </tr>
                  </tfoot>
                  <tbody>
                    {{#each data}}
                    <tr>
                      <td>{{Name}}</td>
                      <td>{{BatchSchedule}}</td>
                      <td style="display: flex;">
                        <button data-toggle="modal" class="select" id="selb" value="{{_id}}" data-target="#selectmodel">Select</button> 
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            <!--// Forms content -->
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Logout Modal-->
    <div class="modal fade" id="selectmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Select?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Select Button" below if you are ready to start class with this batch.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <!-- <form  method="GET"> -->
              <button id="sele" class="btn btn-primary">Select</button>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>

  

