
     <style type="text/css">
       #maindiv{
          display: flex; 
          justify-content: center; 
          margin: 2%;
       }
       #h4{
        margin-right: 7px;
       }
     </style>
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
            <li id="successmessage">
              
          </li>
          </ol>


          <!-- DataTables Example -->
          <div class="card mb-3">
            <div style="display: flex;" class="card-header">
              <i class="fas fa-table"></i>
              <button type="button" id="selectedBatch" class="btn btn-default" data-toggle="modal" data-target="#BetchModal">Select Batch</button><h4>Selected Batch: <span id="oneBatchselected"><span>{{ping}}{{BatchName}}</span></span></h4></div>
              <div id="maindiv"><h4 id="h4">{{toadd}}</h4><button data-toggle="modal" class="btn btn-default" data-target="#selectmodel" value="{{dataID}}" id="buttonbtn">{{clickhere}}</button></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Batch Name</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Teacher</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Batch Name</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Teacher</th>
                    </tr>
                  </tfoot>
                  <tbody>
                      {{#each result}}
                    <tr>
                      <td>{{BatchName}}</td>
                      <td>{{Date}}</td>
                      <td>{{Time}}</td>
                      <td>{{ClassAddbyTeacherName}}</td>
                    </tr>
                      {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">UCMAS STUDENT TRACKER</div>
          </div>

        </div>

      </div>


    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


<!-- Logout Modal-->
    <div class="modal fade" id="BetchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Add New Class</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="input">
              <!-- Forms-3 -->
              <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Timing</th>
                      <th>Select Batch</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Timing</th>
                      <th>Select Batch</th>                      
                    </tr>
                  </tfoot>
                  <tbody id="BatchSchedule">

                  </tbody>
                </table>
              </div>
            </div>
            <!--// Forms content -->
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Logout Modal-->
    <div class="modal fade" id="selectmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Please Confirm</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Are you sure?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <!-- <form  method="GET"> -->
              <button id="sele" class="btn btn-primary">Yes</button>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>

  

