
    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Check-In-Out</div>
        <div class="card-body">
          <!-- <form> -->
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="uuidmod" class="form-control" placeholder="ID" required="required" autofocus="autofocus">
                    <label for="uuidmod">Your Student ID</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="pincode" class="form-control" placeholder="Pin Code" required="required">
                    <label for="pincode">Your Pin Code</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <button class="btn btn-primary btn-block" type="button" id="CheckInMod">Check-In</button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <button class="btn btn-primary btn-block" id="CheckOutMod">Check-Out</button>
                  </div>
                </div>
              </div>
            </div>
            <div></div>
          <!-- </form> -->
          <!-- <div class="text-center"> -->
            <!-- <a class="d-block small mt-3" href="/login">Login</a> -->
            <!-- <a class="d-block small" onclick="myFunction()" href="">Forgot Student ID?</a> -->
          <!-- </div> -->
        </div>
      </div>
    </div>

 <script>
    function myFunction() {
      alert('This feture is not avalaible at this comming soon....')
      // document.getElementById("demo").innerHTML = "Hello World";
    }
</script>


